version: '2'
services:

  ###
  # Base app container. Inherited by dev and eventually prod containers.
  ###
  app_USERNAME:
    build:
      context: .
      dockerfile:  ./dockerfiles/app
    command: rake
    working_dir: /data/code
    env_file:
      - ./dockerfiles/app.env

  ###
  # Dev container extends the base application.
  ###
  dev_USERNAME:
    extends:
      service: app_USERNAME
    ports:
      - "5000:5000"
      - "8000:8000"
    volumes:
      - .:/data/code
    links:
      - redis_USERNAME:redis
    command: rake test

  ###
  # Redis used for redis things we do.
  ###
  redis_USERNAME:
    image: redis
