---
config:
  ganeti_clusters:
    - ganeti
  db_url: sqlite:///tmp/development.sqlite
  cache_file: cachefile
  log_file_path: logfile
  db_collector_dbs:
   - type: postgres
      user: test_db_user
      password: test_db_pass
      host: testing-psql
  - type: mysql
      user: root
      password: toor
      host: testing-mysql
