---
config:
  ganeti_clusters:
    - ganeti
  db_url: sqlite:///tmp/development.sqlite
  cache_file: cachefile
  log_file_path: logfile
  db_collector_dbs:
    - type: mysql
      user: username
      password: secret
      host: mysql.example.com
    - type: mysql
      user: username
      password: secret
      host: mysql.example.com
    - type: mysql
      user: username
      password: secret
      host: mysql.example.com
    - type: mysql
      user: username
      password: secret
      host: mysql.example.com
