---
config:
  ganeti_clusters:
    - ganeti
  db_url: sqlite:///tmp/development.sqlite
  cache_file: cachefile
  log_file_path: iamlog
  db_collector_pg_user: iam-reader
  db_collector_pg_pw: secret
  db_collector_pg_host: pg1.osuosl.org
  db_collector_mysql_dbs:
    - user: iam_reader
      pw: secret
      host: msql1-vip.osuosl.org
    - user: iam_reader
      pw: secret
      host: msql2-vip.osuosl.org
    - user: iam_reader
      pw: secret
      host: msql3-vip.osuosl.org
    - user: iam_reader
      pw: secret
      host: msql4-vip.osuosl.org
