ganeti_clusters ganeti
db_url sqlite:///tmp/development.sqlite
cache_file cachefile
log_file_path iamlog
db_collector_pg_user iam_reader
db_collector_pg_pw secret
db_collector_pg_host pg1.osuosl.org
db_collector_mysql_user iam_reader
db_collector_mysql_pw secret
db_collector_mysql_host msql1-vip.osuosl.org
