
<div class="container">
       <form action='/clients' name="createForm" method='post' onsubmit="return validateForm()">
         <table class="table">
           <thead>
             <tr>
               <th>Name</th>
               <th>New</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>
                 <%= @error.class %>
              </td>
             </tr>
             <tr>
               <td>name</td>
               <td>
                 <input type="text" name="name" placeholder="New name">
               </td>
             </tr>
             <tr>
               <td>contact_name</td>
               <td>
                 <input type="text" name="contact_name" placeholder="New contact_name">
               </td>
             </tr>

             <tr>
               <td>description</td>
               <td>
                 <input type="text" name="description" placeholder="New description">
               </td>
             </tr>
             <tr>
               <td>contact_email</td>
               <td>
                 <input type="text" name="contact_email" placeholder="New contact_email">
               </td>
             </tr>
           </tbody>
         </table>
         <input type="submit" value="Create" class="btn btn-primary">
       </form>
     </div>
   </div>
   <br>

   <script>
   function validateForm() {
       var x = document.forms["createForm"]["name"].value;
       if (x == null || x == "") {
           alert("Name must be filled out");
           return false;
       }
   }
   </script>
