DB_URL=sqlite://dev.sqlite
CACHE_PATH=cachefile

LOG_FILE_PATH=logfile

GANETI_CLUSTERS=ganeti

MYSQL_ROOT_PASSWORD=toor

BASE_DIR=/data/code
APP_DIR=/data/code

# to test the database collector, the following must be set

# this enables the db collector spec
TEST_MYSQL_DB=true

# give the docker mysql a root password
MYSQL_ROOT_PASSWORD: toor

# these are the databases the collector spec will query, they must correspond
# to the linked mysql docker container
DB_COLLECTOR_DBS=type:mysql,user:bob,password:test,host:testing-mysql

# these tell the spec how to talk to the docker mysql, they must correspond
# to the docker mysql setup
TEST_MYSQL_ROOT_PASS=toor
TEST_MYSQL_HOST=testing-mysql
TEST_MYSQL_USER=bob
TEST_MYSQL_USER_PASS=test
