DB_URL=sqlite://test.sqlite
CACHE_FILE=cachefile

LOG_FILE_PATH=logfile

GANETI_CLUSTERS=ganeti

DB_COLLECTOR_MYSQL_DBS=user:pass:host,user2:pass2:host2,user3:pass3:host3,\
user4:pass4:host4

MYSQL_ROOT_PASSWORD=toor
