DATABASE_URL=sqlite://dev.db
CACHE_FILE=/tmp/iam-cache

LOG_FILE_PATH=logging/log_file.log

POSTGRES_USER=test_db_user
POSTGRES_PASSWORD=test_db_pass
POSTGRES_HOST=testing-psql
POSTGRES_DB=test_db

MYSQL_ROOT_PASSWORD=toor
MYSQL_USER=root
MYSQL_PASSWORD=toor
MYSQL_DATABASE=test_db
MYSQL_TESTING_HOST=testing-mysql
