<div class="container">
  <form action='/nodes' name="createNode" method='post' onsubmit="return validateForm()">
    <fieldset>
      <legend> New Node </legend>
      <% if @error %>
        <div class="alert alert-danger">
          <strong>Invalid Input:</strong>
           That node already exists!
         </div>
      <% end %>

      <div class="form-group row">
        <label class="col-md-offset-2 col-md-5 control-label col-md-offset-2">Name</label>
          <div class="col-md-offset-2  col-md-5 inputGroupContainer col-md-offset-2">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-briefcase"></i>
              </span>
              <input name="name" placeholder="New Name" class="form-control" type="text">
            </div>
          </div>
       </div>

       <div class="form-group row">
         <label class="col-md-offset-2 col-md-5 control-label col-md-offset-2">Select Project</label>
         <div class="col-md-offset-2  col-md-5 inputGroupContainer col-md-offset-2">
           <div class="input-group">
             <span class="input-group-addon">
               <i class="glyphicon glyphicon-list"></i>
             </span>
             <select name="project_id" class="form-control selectpicker" >
               <% for @project in @projects %>
                  <% if @project.active %>
                     <option value="<%= @project.id %>"><%= @project.name %></option>
                 <% end %>
               <% end %>
             </select>
          </div>
        </div>
     </div>

     <div class="form-group row">
       <label class="col-md-offset-2 col-md-5 control-label col-md-offset-2">Type</label>
         <div class="col-md-offset-2  col-md-5 inputGroupContainer col-md-offset-2">
           <div class="input-group">
             <span class="input-group-addon">
               <i class="glyphicon glyphicon-tree-conifer"></i>
             </span>
             <input name="type" placeholder="Type" class="form-control" type="text">
           </div>
         </div>
      </div>

      <div class="form-group row">
        <label class="col-md-offset-2 col-md-5 control-label col-md-offset-2">Cluster</label>
          <div class="col-md-offset-2  col-md-5 inputGroupContainer col-md-offset-2">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-tree-conifer"></i>
              </span>
              <input name="cluster" placeholder="Cluster" class="form-control" type="text">
            </div>
          </div>
       </div>

       <div class="form-group row">
         <label class="col-md-offset-2 col-md-5 control-label col-md-offset-2"></label>
         <div class="col-md-offset-2  col-md-5 col-md-offset-2">
           <button type="submit" class="btn btn-success" >Create Node
             <span class="glyphicon glyphicon-saved"></span>
           </button>
         </div>
       </div>

     </fieldset>
    </form>

<script>
function validateForm() {
  var x = document.forms["createNode"]["name"].value;
  if (x == null || x == "") {
    alert("Name must be filled out");
    return false;
  }
}
</script>
