<div class="container">
  <form action='/nodes' name="createNode" method='post' onsubmit="return validateForm()">
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>New Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Node name</td>
        <td>
           <input type="text" name="name" placeholder="New Node">
        </td>
      </tr>
      <tr>
        <td>Project Id</td>
        <td>
          <select  name="project_id">
          <% for @project in @projects %>
             <% if @project.active %>
                <option value="<%= @project.id %>"><%= @project.name %></option>
            <% end %>
          <% end %>
          </select>
        </td>
      </tr>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          <input type="text" name="type" placeholder="New Type">
        </td>
      </tr>
      <tr>
        <td>Cluster</td>
        <td>
          <input type="text" name="cluster" placeholder="New Cluster">
        </td>
      </tr>
    </table>
    <input type="submit" value="Create Node" class="btn btn-primary">
  </form>
</div>

<script>
function validateForm() {
  var x = document.forms["createNode"]["name"].value;
  if (x == null || x == "") {
    alert("Name must be filled out");
    return false;
  }
}
</script>
