<div class="container">
  <form action='/projects' name="createProject" method='post' onsubmit="return validateForm()">
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>New Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Project name</td>
        <td>
           <input type="text" name="name" placeholder="New project">
        </td>
      </tr>
      <tr>
        <td>Client Id</td>
          <td>
            <input type="text" name="client_id" placeholder="Client id">
          </td>
      </tr>
      <tr>
        <td>Resources</td>
        <td>
          <input type="text" name="resources" placeholder="New resource">
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <input type="text" name="description" placeholder="New description">
        </td>
      </tr>
    </table>
    <input type="submit" value="Create Project" class="btn btn-primary">
  </form>
</div>
<br>

<script>
function validateForm() {
  var x = document.forms["createProject"]["name"].value;
  if (x == null || x == "") {
    alert("Name must be filled out");
    return false;
  }
  var y = document.forms["createProject"]["client_id"].value;
  if (y == 0) {
    alert("Client does not exist");
    return false;
  }
}
</script>
