
<table>
  <% for @project in @projects %>
    <tr>
      <td><td>
      <td>
        <a href="projects/<%= @project.id %>" >
          <%= @project.name %>
        </a>
      <td>
    </tr>
  <% end %>
</table>
