/* This is the main CSS File */
body {

  background-color: #c7c3c2
}


/*
Navbar
*/

.navbar{
  background-color: #444444
}

.navbar .navbar-brand{
  color: #ffffff;
}

.navbar .nav-link{
  color: #ffffff;
}
.navbar .nav-link:hover{
  color: #f87e2c;
}


/*
Content
*/

.container-content{
  border: 2px solid #444444;
  border-radius: 5px;
  background-color: #dcdad9

}


/*
  jumbo tron
*/

.jumbotron{
  background-color: #444444
}

.jumbotron h1{
  color: #ffffff
}

.jumbotron p{
  color: #f87e2c
}

/*
Tables
*/
div.ellipsis {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
